%ul.parent__tree
  - @category_parent.each do |parent|
    %li.parent__tree__item
      = link_to "#{parent.name}", "#", class:"parent"

      %ul.children__tree
        - parent.children.each do |child|
          %li.children__tree__item
            = link_to "#{child.name}", "#", class:"child"

            %ul.grandchildren__tree
              - child.children.each do |grandchild|
                %li.grandchildren__tree__item
                  = link_to "#{grandchild.name}", "#", class:"grandchild"
