.home-header__header
  .home-header__header__box
    .home-header__header__box__main
      = link_to root_path do
        .home-header__header__box__main--icon
      .home-header__header__box__main--searchbox
        %i.fas.fa-search
    .home-header__header__box__sub
      .home-header__header__box__sub__left
        .home-header__header__box__sub__left--category
          = link_to "#", class: "categoryBtn", id: "left-category" do
            = "カテゴリー"
          .visibleTree
          
            %ul.firstMenu__parents
              - @main_categories.each do |main_category|
                %li.firstMenu__parents__parent{data: {category: {id: main_category.id, sub: main_category.sub, sub_sub: main_category.sub_sub}}}
                  %div
                    = main_category.name

            %ul.secondMenu__children
              - @sub_categories.each do |sub_category|
                %li.secondMenu__children__child{data: {category: {id: sub_category.id, sub: sub_category.sub, sub_sub: sub_category.sub_sub}}}
                  %div
                    = sub_category.name

            %ul.thirdMenu__grandchildren
              - @sub_sub_categories.each do |sub_sub_category|
                %li.thirdMenu__grandchildren__grandchild{data: {category: {id: sub_sub_category.id, sub: sub_sub_category.sub, sub_sub: sub_sub_category.sub_sub}}}
                  = sub_sub_category.name
        .home-header__header__box__sub__left--brand
          = link_to "#", class: "brandBtn", id: "left-category" do
            = "ブランド"

          


        
      .home-header__header__box__sub__right
        - if current_user.nil?
          = link_to "ログイン", new_user_session_path, class: "home-header__header__box__sub__right--log-in" 
            
          = link_to "新規会員登録", new_user_registration_path, class: "home-header__header__box__sub__right--register-user" 
            
        - else
          = link_to "マイページ", user_path(current_user), class:"home-header__header__box__sub__right--mypage" 