.home-header__header
  .home-header__header__box
    .home-header__header__box__main
      = link_to root_path do
        .home-header__header__box__main--icon
      .home-header__header__box__main--searchbox
        %i.fas.fa-search
    .home-header__header__box__sub
      .home-header__header__box__sub__left
        .home-header__header__box__sub__left--category
          = link_to "#", class: "categoryBtn", id: "left-category" do
            = "カテゴリー"
        .home-header__header__box__sub__left--brand
          = link_to "#", class: "brandBtn", id: "left-category" do
            = "ブランド"

          .visibleTree
            %ul.firstMenu__parents
              - @parents.each do |parent|
                %li.firstMenu__parents__parent
                  = link_to "#{parent.name}", "#", class: "item-link" 
                  %ul.secondMenu__children                  
                    %li.secondMenu__children__child
                      %ul.thirdMenu__grandchildren                       
                        %li.thirdMenu__grandchildren__grandchild
        .home-header__header__box__sub__left--brand
      .home-header__header__box__sub__right
        .home-header__header__box__sub__right--log-in
          ログイン
        .home-header__header__box__sub__right--register-user
          新規会員登録
        .home-header__header__box__sub__right--log-out
          マイページ