.wrapper
  .pickup_brand__containerBrand
    %h2.pickup_brand__containerBrand__title
      ピックアップブランド
    .pickup_brand__containerBrand__product
      .pickup_brand__containerBrand__product__head
        = link_to "#", class: "pickup_brand__products--head" do
          %h3.pickup_brand__head Christian Dior
      .pickup_brand__containerBrand__product--lists
        - @products.each do |product|
          .pickup_brand__containerBrand__product--lists__list
            %figure.pickup_brand__product__images
              = image_tag "https://static.mercdn.net/item/detail/orig/photos/m69199789239_1.jpg?1585451120", alt: "image_url", class:"pickup_brand__product__images--image"
            
            .pickup_brand__containerBrand__product--lists__list__body
              %h3.pickup_brand__product--name
                = product.name
              .pickup_brand__containerBrand__product--lists__list__body__details
                %ul.pickup_brand__details__menu
                  %li
                    = "#{product.price}円"
                  %li ★
              %p.pickup_brand__taxIncluded （税込）