.wrapper
  .pickup_category__containerCategory
    %h2.pickup_category__containerCategory__title
      ピックアップカテゴリー
    .pickup_category__containerCategory__product

      .pickup_category__containerCategory__product--head
        = link_to "#", class: "pickup_category__products--head" do
          %h3.products--head-title 新規投稿商品
      .pickup_category__containerCategory__product--lists
        - @products.each do |product|
          = link_to product_path(product.id) do
            .pickup_category__containerCategory__product--lists__list
              - if product.user_id.present? && product.buyer_id.present?
                .pickup_category__containerCategory__product--lists__list__status
                  = "Sold Out"
              %figure.pickup_category__product__images
                = image_tag product.product_images.first.image.url, class: "pickup_category__product__images--image"
              .pickup_category__containerCategory__product--lists__list--body
                %h3.pickup_category__product--name
                  = product.name
                .pickup_category__containerCategory__product--lists__list--body__details
                  %ul.pickup_category__details__menu
                    %li
                      = "#{product.price}円"
                    %li ★
                %p.pickup_category__taxIncluded （税込）