=link_to "仮設置products_index", products_path




-# - @products.each do |product|
-#   .pickup_category__containerCategory__product--lists__list
-#     = link_to product_path(product.id), class: "pickup_category__containerCategory__product--lists__list" do
-#       = product.name


.products-show-main
  .products-show-wrapper
    .products-show-contents
      .products-show-contents__topContent
        
        .products-show-itemBox
          %h2.products-show-itemBox__name
            = @product.name
          .products-show-itemBox__pic
            %ul
              %li
                = image_tag(@image.image.url)#(@product.images[0].product_image.url)
                -# = image_tag(@product.product_images_attributes=image_url)#(@product.images[0].product_image.url)
                %ul
                  %li
                    - @product.product_images.each do |image|
                      = image_tag(image.image.url)

          .products-show-itemBox__price
            %span
              ¥
              =@product.price.to_s(:delimited)
            .products-show-itemBox__price--tax_shipfee
              %span
                (税込)
              %span
                送料込み

          - if user_signed_in? && current_user.id == @product.user_id
            .l-single-container
              .listing-item-change-box
                = link_to "商品の編集", edit_product_path, class: "products-show-itemBox__btn-red"
                %p.text-center or
                -# = link_to "出品を一旦停止する", "#", class: "products-show-itemBox__btn-grey"
                = link_to "この商品を削除する", product_path, method: :delete, data: { confirm: '【確認】削除すると二度と復活できません。本当に削除しますか？' }, class: "products-show-itemBox__btn-grey"
          - else
            = link_to "購入画面に進む", purchase_path, class: "products-show-itemBox__buy-btn"

          -# - if user_signed_in? && current_user.id == @product.user_id
          -#   .postManage
          -#     = link_to "編集", edit_post_path(@product.id), class: "postManage__edit"
          -#     = link_to "削除", post_path(@product.id), method: :delete, class: "postManage__delete"

              -# %a.btn-default.btn-red{:href => "https://www.mercari.com/jp/sell/edit/m15820539324/"} 商品の編集
              -# %p.text-center or
              -# %form{:action => "/jp/mypage/items/deactivate/m15820539324/", :method => "POST", :novalidate => "novalidate"}
              -#   %input{:name => "__csrf_value", :type => "hidden", :value => "6d2518b5c3c10c6223b2fb76fa46f041221ec755a98aa5e3380459057c6f060a7058a7d43bc25dfaccea37e7b7ce62c68be4df8a416fcfab910a25af2da9db57b"}/
              -#   %button.btn-default.btn-gray{:type => "submit"} 出品を一旦停止する
              -# %button.btn-default.btn-gray{"data-modal" => "delete-item", "data-open" => "modal"}
              -#   この商品を削除する

            -# = link_to new_product_path do
            -#   .display_btn__in-box
            -#     .display_btn__in-box--text
            -#       出品する
            -#     = image_tag "icon/icon_camera.png", size: "54x54", class: "display_btn__in-box--img"







          .products-show-detail
            =@product.detail

          .products-show-table
            %table
              %tbody
                %tr
                  %th 出品者
                  %td 増田こうすけ
                %tr
                  %th カテゴリー
                  %td
                    =link_to "" "ベビー・キッズ"
                    %br/
                    =link_to "" "ベビー服(男女兼用)  ~95cm"
                    %br/
                    =link_to "" "アウター"
                %tr
                  %th ブランド
                  %td
                %tr
                  %th 商品のサイズ
                  %td
                %tr
                  %th 商品の状態
                  %td 未使用に近い
                %tr
                  %th 配送料の負担
                  %td 送料込み（出品者負担）
                %tr
                  %th 発送元の地域
                  %td
                    = @product.shipping_area
                %tr
                  %th 発送日の目安
                  %td 4-7日で発送


          .products-show-fav_bad_btn
            %ul
              %li#likeBtn.optionalBtn.likeBtn
                %i.fa.fa-star
                お気に入り 0
            %ul.optional
              %li.optionalBtn
                = link_to "/" do
                  %i.fa.fa-flag
                  不適切な商品の通報



        .products-show-commentBox
          %ul.commentContents
          %form#new_comment.products-show-commentBox__new_comment{"accept-charset" => "UTF-8", :action => "#", :method => "post"}
            %input{:name => "utf8", :type => "hidden", :value => "✓"}/
            %input{:name => "authenticity_token", :type => "hidden", :value => "1NxpNJyDFYtsiCk9sjRs0RKxssQ/jbE95Yf1Rr6D9tO1kd7Cc6EsdZvTr9DslutaNcHzXHre4aMeKiUey8NWzA=="}/
            %textarea#comment_body{:name => "comment[body]", :required => "required"}
            %p.products-show-commentBox__new_comment__noticeMsg
              相手のことを考え丁寧なコメントを心がけましょう。
              %br/
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
            %br/
            %button.products-show-commentBox__new_comment__commentBtn{:name => "button", :type => "submit"}
              %i.fa.fa-comment
              コメントする

      .products-show-link-block
        %ul.links
          %li
            = link_to "#" do
              %i.fa.fa-angle-left
              前の商品
          %li
            = link_to "#" do
              %i.fa.fa-angle-right
              後ろの商品

      .products-show-relatedItems
        = link_to "" "ベビー・キッズをもっと見る"
        .products-show-relatedItems__productLists