.products-show-main
  .products-show-wrapper
    .products-show-contents
      .products-show-contents__topContent
        
        .products-show-itemBox
          - if @product.user_id.present? && @product.buyer_id.present?
            .products-show-itemBox__status
              = "Sold Out"
          %h2.products-show-itemBox__name
            = @product.name
           
          .products-show-itemBox__pic
            %ul
              %li
                = image_tag(@product.product_images.first.image.url)
                %ul
                  - @product.product_images.each do |i|
                    %li
                      = image_tag(i.image.url)

          .products-show-itemBox__price
            %span
              ¥
              =@product.price.to_s(:delimited)
            .products-show-itemBox__price--tax_shipfee
              %span
                (税込)
              %span
                送料込み

          - if user_signed_in? && current_user.id == @product.user_id
            .l-single-container
              .listing-item-change-box
                = link_to "商品の編集", edit_product_path, class: "products-show-itemBox__btn-red"
                %p.text-center or
                -# = link_to "出品を一旦停止する", "#", class: "products-show-itemBox__btn-grey"
                = link_to "この商品を削除する", product_path, method: :delete, data: { confirm: '【確認】削除すると二度と復活できません。本当に削除しますか？' }, class: "products-show-itemBox__btn-grey"
          - elsif @product.buyer_id.present? 
            .products-show-itemBox__btn-grey 売り切れました
          - elsif current_user.blank?
            = link_to "購入画面に進む", new_user_session_path, data: { confirm: '【確認】購入はログインが必要です。移動しますか？' }, class: "products-show-itemBox__btn-grey"
          - elsif current_user.credit_card.present?
            = link_to "購入画面に進む", buy_product_path, class: "products-show-itemBox__buy-btn"
          - else current_user.credit_card.blank?
            = link_to "購入画面に進む", new_credit_card_path, data: { confirm: '【確認】クレジットカード登録が必要です。登録画面に移動しますか？' }, class: "products-show-itemBox__btn-grey"


          .products-show-detail
            = @product.detail

          .products-show-table
            %table
              %tbody
                %tr
                  %th 出品者
                  %td 
                    = @product.user.nickname
                %tr
                  %th カテゴリー
                  %td
                    =link_to @categorys.find(@product.category_id).parent.parent.name
                    %br
                    =link_to @categorys.find(@product.category_id).parent.name
                    %br
                    =link_to @categorys.find(@product.category_id).name

                %tr
                  %th ブランド
                  %td
                %tr
                  %th 商品のサイズ
                  %td
                %tr
                  %th 商品の状態
                  %td
                    = @product.condition
                %tr
                  %th 配送料の負担
                  %td
                    = @product.delivery_fee
                %tr
                  %th 発送元の地域
                  %td
                    = @prefectures.find(@product.shipping_area).name
                %tr
                  %th 発送日の目安
                  %td
                    = @product.shipping_days

          .products-show-fav_bad_btn
            %ul
              %li#likeBtn.optionalBtn.likeBtn
                %i.fa.fa-star
                お気に入り 0
            %ul.optional
              %li.optionalBtn
                = link_to "/" do
                  %i.fa.fa-flag
                  不適切な商品の通報
        -# コメント機能未実装
        -# .products-show-commentBox
        -#   %ul.commentContents
        -#   %form#new_comment.products-show-commentBox__new_comment{"accept-charset" => "UTF-8", :action => "#", :method => "post"}
        -#     %input{:name => "utf8", :type => "hidden", :value => "✓"}/
        -#     %input{:name => "authenticity_token", :type => "hidden", :value => ""}/
        -#     %textarea#comment_body{:name => "comment[body]", :required => "required"}
        -#     %p.products-show-commentBox__new_comment__noticeMsg
        -#       相手のことを考え丁寧なコメントを心がけましょう。
        -#       %br/
        -#       不快な言葉遣いなどは利用制限や退会処分となることがあります。
        -#     %br/
        -#     %button.products-show-commentBox__new_comment__commentBtn{:name => "button", :type => "submit"}
        -#       %i.fa.fa-comment
        -#       コメントする

      .products-show-link-block
        %ul.links
          %li
            - if @product.previous.present?
              = link_to product_path(@product.previous.id), class: 'link' do
                = @product.previous.name
          %li
            - if @product.next.present?
              = link_to product_path(@product.next), class: 'ink' do
                = @product.next.name

      .products-show-relatedItems
        = link_to "" "#{@categorys.find(@product.category_id).name}" + "をもっと見る"
        .products-show-relatedItems__productLists